<!--------------- HAMBURGER MENU ---------------->
<!-- Still need to modularize with JavaScript (I’m currently learning it). -->

<div class="topnav">

    <a href="javascript:void(0);" class="icon" onclick="showHide()">
        <i class="fa fa-bars animate__animate animate__rotateIn"></i>
    </a>
    <div id="myLinks">
        <ul>
            <li><a href="index.html"><img src="assets/images/UKflag.png"> Home</a></li>
            <li></li><a href="index-sp.html"><img src="assets/images/SPflag.png"> Inicio</a></li>
            <li><a href="#I-am">Who I am</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#hobbies-container">Hobbies</a></li>
            <li><a href="#repositories-main">Repositories sample</a></li>
            <li><a href="./online-en.html">Online classes</a></li>
            <li><a href="#contact-me">Contact</a></li>
        </ul>
    </div> <!-- MyLinks-->

</div>